<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Space_İnvaders_v._1._0.Properties.Settings.Uzaylı_AvıConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Uzaylı Avı.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>